.indexImage {
  max-width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainColumn {
  width: 40rem;

  @media screen and (max-width: 800px) {
    max-width: 40rem;
    width: 100%;
  }
}
