.indexImage {
  max-width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainColumn {
  width: 40rem;

  @media screen and (max-width: 800px) {
    max-width: 40rem;
    width: 100%;
  }
}

.profileImage {
  width: 400px;
  margin-left: -20px;
}

.header {
  padding: 1rem 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
