.indexImage {
  max-width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainColumn {
  max-width: 40rem;
  padding: 10px;
}

.profileImage {
  width: 400px;
  margin-left: -20px;
}

.header {
  padding: 1rem 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.repo {
  margin-bottom: 10px;
}

.repoDescription {
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  .mainColumn {
    width: 100%;
  }
}
