.paragraph {
  padding-bottom: 1.125rem;
}

.figure {
  padding: 1.125rem 0 1.125rem;
  margin-bottom: 1rem;
  max-width: 100%;
}

.image {
  width: 100%;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.4));
  border-radius: 4px;
}

.video {
  width: 100%;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.4));
  border-radius: 4px;
}

.caption {
  margin: 10px 0 -10px;
  font-size: .9rem;
  font-style: italic;
  text-align: center
}

.title {
  font-size: 1.25rem;
  margin: 0;
  font-weight: bold;
}
